{% extends 'layouts/base.html' %}

{% block content %}
<h1>About page</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit velit libero minima placeat error, saepe
    asperiores. Dolore, sit repudiandae sequi at doloremque nisi, aliquid facilis incidunt tempore odit alias fugit
    magni voluptatem consequuntur! Exercitationem molestias asperiores quasi sed vitae, impedit placeat quo nulla
    voluptate facere reprehenderit. Molestiae recusandae illo modi distinctio voluptates debitis natus blanditiis qui
    non aliquam sapiente, similique animi aspernatur suscipit pariatur excepturi obcaecati iste temporibus tempora
    beatae sequi. Quam, quas sunt dignissimos incidunt enim minima tempore modi ad nesciunt! Perferendis, quidem
    aliquam. Fuga eum facere tenetur magni? Voluptate dolore, cumque rerum maxime molestiae libero animi nisi magni?</p>

<p>Website created by {{ username }}</p>
{% endblock %}